<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jx.shows.alfred</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>68D949C5-740B-4AB7-817A-D153851B69A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>988E6332-E204-4351-9E7A-E6C72287146D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7DEF9F97-6709-41B2-BEF5-4527B261E284</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>894A2480-6233-49F4-BB51-5E1DB4C24C9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF9149EA-3C70-4A55-8AD2-2B6FC7B2A931</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8D562804-FB9B-4643-94B7-8848A9BD670A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1440AD24-5B17-4362-A23D-241D524BB025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>988E6332-E204-4351-9E7A-E6C72287146D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1440AD24-5B17-4362-A23D-241D524BB025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A01EBC44-0469-4181-B435-66D11559F030</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A5A6F476-61A0-45A5-BCCE-4DCEDA8A5B02</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A5A6F476-61A0-45A5-BCCE-4DCEDA8A5B02</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D562804-FB9B-4643-94B7-8848A9BD670A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinXi</string>
	<key>description</key>
	<string>Record where have you gone with series.| 0.5</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TV series helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7DEF9F97-6709-41B2-BEF5-4527B261E284</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>watch</string>
				<key>runningsubtext</key>
				<string>Please waiting...</string>
				<key>script</key>
				<string>php exec.php watch "{query}" "nosync"
# replace nosync to sync with Dropbox or any other tools.</string>
				<key>subtext</key>
				<string>check how many Episodes of '{query}' I have seen</string>
				<key>title</key>
				<string>TV show</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>124</integer>
				<key>script</key>
				<string>php exec.php watched "{query}" "nosync"
# replace nosync to sync with Dropbox or any other tools.</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>988E6332-E204-4351-9E7A-E6C72287146D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>watch_episode</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>68D949C5-740B-4AB7-817A-D153851B69A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TV Notice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1440AD24-5B17-4362-A23D-241D524BB025</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Alfred 2" to run trigger "watch_episode" in workflow "com.jx.shows.alfred" with argument q
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>DF9149EA-3C70-4A55-8AD2-2B6FC7B2A931</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>subtext</key>
				<string>Enter to see the list</string>
				<key>text</key>
				<string>Watched this episode of "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.fallback</string>
			<key>uid</key>
			<string>894A2480-6233-49F4-BB51-5E1DB4C24C9D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>php exec.php finished "{query}" "nosync"
# replace nosync to sync with Dropbox or any other tools.</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>8D562804-FB9B-4643-94B7-8848A9BD670A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>finish</string>
				<key>runningsubtext</key>
				<string>Please waiting...</string>
				<key>script</key>
				<string>php exec.php finish "{query}" "nosync"
# replace nosync to sync with Dropbox or any other tools.</string>
				<key>title</key>
				<string>TV show</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A5A6F476-61A0-45A5-BCCE-4DCEDA8A5B02</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A01EBC44-0469-4181-B435-66D11559F030</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>#TV Show Helper
Alfred Workflow to help you to remember which episode have you watched!  
一个帮助你记住你的电视剧们都看到哪里了的Alfred Workflow

__Version: beta 0.4__

##Getting Started
Use Keyword `watch` to activate this workflow with parameter whether complete or incomplete name of the show.  
使用关键词 `watch` 来激活这个workflow，并后缀上电视剧名

Use `&lt;Enter&gt;` Key to confirm, which means you have watched another episode of it  
回车已确认，来表示你又看了一集

then you will get a feedback at notification bar  
确认之后你会在通知中心获得一个反馈

if the show wasn`t in the local plist, input the complete name of it and press `&lt;Enter&gt;` key to add it in the plist file  
如果你看的片并不在本地属性文件中，请在参数处输入完整的剧名并按回车键确认添加此剧

##What's New
####0.4
_Jul 5th, 2014_

- __Change Plist Path__  
	Put plist file in Application Supports

- __Hotkey added__ 

- __few bug fixed__ 

####0.3
_Jun 28th, 2014_

- __Init Plist File__  
	Automate to init plist file when you first use it.  
	在第一次使用时自动初始化一个plist文件
		
- __Undo Support__  
	Now you can use "watch undo" to undo your last change, and use "watch all" to display all the show in your plist file.  
	使用"watch undo"可以撤销上一次指令的效果，并可以使用"watch all"来显示所有剧名。
	
- __Init Episode Support__ 
	"watch init {eps} {name}" to init directly.

####0.2
_May 2nd, 2014_

- __Single Quoto Support__  
	Use double quoto "{query}" to deal with the parse error like `'Grey's Anatomy'`  

####0.1
_May 1st, 2014_  

- __Chinese Support__  
	now you can use pinyin of Chinese Character to search  
	你可以使用中文和中文拼音来查找一个中文剧名的电视剧了  
- __New Icon__  
	use brand new icon instead of Google TV logo  
	使用全新的图标，而不再是Google TV的图标了
	
##Contact Me
E-mail: fate_stigma@hotmail.com  
Website: fatestigma.github.io</string>
	<key>uidata</key>
	<dict>
		<key>1440AD24-5B17-4362-A23D-241D524BB025</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>68D949C5-740B-4AB7-817A-D153851B69A3</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7DEF9F97-6709-41B2-BEF5-4527B261E284</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>894A2480-6233-49F4-BB51-5E1DB4C24C9D</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>8D562804-FB9B-4643-94B7-8848A9BD670A</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>988E6332-E204-4351-9E7A-E6C72287146D</key>
		<dict>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A01EBC44-0469-4181-B435-66D11559F030</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A5A6F476-61A0-45A5-BCCE-4DCEDA8A5B02</key>
		<dict>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>DF9149EA-3C70-4A55-8AD2-2B6FC7B2A931</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>fatestigma.github.io</string>
</dict>
</plist>
