<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.jx.shows.workflow</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>988E6332-E204-4351-9E7A-E6C72287146D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>988E6332-E204-4351-9E7A-E6C72287146D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1440AD24-5B17-4362-A23D-241D524BB025</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>JinXi</string>
	<key>description</key>
	<string>Quick to see how where have you gone.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TV Show helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>require_once('show.php');

$tvshow = \CFPropertyList\WatchShow::factory('{query}');
$ep = $tvshow-&gt;watched();
echo $ep;</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>988E6332-E204-4351-9E7A-E6C72287146D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TV Notice</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1440AD24-5B17-4362-A23D-241D524BB025</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>126</integer>
				<key>keyword</key>
				<string>show</string>
				<key>runningsubtext</key>
				<string>Please waiting...</string>
				<key>script</key>
				<string>require_once('show.php');

$tvshow = \CFPropertyList\WatchShow::factory('{query}');
echo $tvshow-&gt;listInAlfred();</string>
				<key>subtext</key>
				<string>check how many Episodes of '{query}' I have seen</string>
				<key>title</key>
				<string>TV show</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1440AD24-5B17-4362-A23D-241D524BB025</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>7DD3BDE5-A157-42E5-9376-F681FB50A4EE</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>988E6332-E204-4351-9E7A-E6C72287146D</key>
		<dict>
			<key>ypos</key>
			<real>100</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
